<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Express Test</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <a href="http://localhost:3000/" class="title">回到首頁</a>
    <ul class="nav">
      <li class="list"><a href="http://localhost:3000/about">About</a></li>
      <li class="list"><a href="http://localhost:3000/portfolio">Portfolio</a></li>
      <li class="list"><a href="http://localhost:3000/contact">Contact</a></li>
    </ul>
  </div>
  <h1 class="page-name">{{{body}}}</h1>
  <!-- js -->
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>