html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1 {
  padding: 0;
  font-weight: normal;
}

a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  text-decoration: none;
}

.container {
  display: flex;
  margin: 0 auto;
}

ul {
  display: flex;
  position: relative;
}

a,
li {
  margin: 10px;
  list-style:none;
  background: black;
  color: white;
  border-radius: 10px;
}